html{
    scroll-behavior: smooth;
}

body {
    background: rgb(47, 55, 78);
    background: linear-gradient(141deg, rgba(47, 55, 78, 1) 0%, rgba(44, 70, 93, 1) 41%, rgba(40, 101, 122, 1) 97%);
    margin: 0;
    justify-content: center;
    background-repeat: repeat-y;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: #ffffff;
}


/* .main-container {
    margin: 1vw;
    padding: 0.5rem;
    box-shadow: 2px 1px 10px white;
} */
/* 
.alt-nav {
    display: none;
} */

.logo-class {
    font-family: 'Orbitron', sans-serif;
}
/* 
.navbar ul {
    margin-right: 5rem;
}

.navbar ul li {
    margin-right: 2.5rem;
} */

.navbar ul li a {
    color: white !important;
}

.navbar ul li a:hover {
    color: #808080 !important;
}


.navbar-brand {
    color: white !important;
    padding-left: 3rem;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px 3px white;
}








/* ***************PROFILE********************/

.about-container {
    opacity: 0.7;
    display: flex;
    justify-content: center;
    margin: 1vw;
    padding: 5px 5px;
    /* background-color:white; */
    transition: all 1s;
}

.about-container:hover {
    box-shadow: 2px 1px 5px white;
}

.profile {
    text-align: center;
    padding: 3px;
    margin: 3rem;
}

.profile img {
    opacity: 1 !important;
    margin-bottom: 1.5rem;
}

.about {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    margin: 3px;

}

.about .about-about {
    padding-left: 3rem;
}

.about .about-contact {
    padding-left: 3rem;
}

/* ********************* */


/* SKILLS */

.skills {
    opacity: 0.7;
    margin: 1vw;
    padding: 1vw 4vw;

    transition: all 1s;
}

.skills:hover {
    box-shadow: 2px 2px 6px white;

}

.skills ul {
    list-style-type: none;
}

/* EDUCATION */
.education {
    opacity: 0.7;
    margin: 1vw;

    padding: 1vw 4vw;

    transition: all 1s;
}

.education:hover {
    box-shadow: 2px 2px 6px white;
}

/* HONOURS */
.honours {
    opacity: 0.7;
    margin: 1vw;

    padding: 1vw 4vw;
    line-height: 2;

    transition: all 1s;
}

.honours:hover {

    box-shadow: 2px 2px 6px white;

}

/* PROJECTS */

.projects {
    opacity: 0.7;
    margin: 1vw;
    padding: 1vw 4vw;
    line-height: 2;

    transition: all 1s;
}

.projects:hover {

    box-shadow: 2px 2px 6px white;
}


/* FOOTER */
.footer {

    padding: 1vw 4vw;
    text-align: center;

}

.footer a {
    text-decoration: none;
    color: white;
    margin: 0 1rem 1rem 1rem;
}




@media screen and (max-width: 700px) {
    .about-container {
        flex-direction: column;
        box-shadow: 2px 2px 6px white;
    }

    .skills {
        box-shadow: 2px 2px 6px white;
    }
    
    .education {
        box-shadow: 2px 2px 6px white;
    }

    .honours {
        box-shadow: 2px 2px 6px white;
    }

    .projects {
        box-shadow: 2px 2px 6px white;
    }


}


@media screen and (max-width: 500px) {
    .main-container {
        box-shadow: none;
    }

    .navbar-brand {
        padding-left: 2.5rem;
        font-size: 1.5rem;
        font-family: 'Orbitron', sans-serif;
    }
    
}